﻿<h1>
  {{title}}
</h1>
<nav>
  <ul>
    <li>
      <a href="" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li><a href="" [routerLink]="['/customer']">Customer</a></li>
    <li><a href="" [routerLink]="['/admin']">Admin --> Users</a></li>
    <li><a href="" [routerLink]="['/admin/blast']">Admin --> Blast</a></li>
  </ul>
</nav>

<button md-raised-button>
  OK<md-icon>done</md-icon>
</button>

<router-outlet></router-outlet>
